services/n8n/n8n_scraper_workflow.json
{
  "name": "JAB - Scraper de Vagas Jovem Aprendiz",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "e0e271cf-e1cf-49b0-9f1e-f3b18d2b270a",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM fontes_busca WHERE ativa = true;"
      },
      "id": "postgres-get-fontes",
      "name": "Ler Fontes de Busca",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [450, 300],
      "credentials": {
        "database": {
          "id": "supabase-postgres-credentials"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "id": "b3e34b9d-486d-40be-ba39-813c01be4300",
      "name": "Buscar HTML da Fonte",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extrai vagas do HTML retornado de forma adaptável (exemplo simplificado de parsing)\nconst html = $json.data;\nconst urlOrigem = $node[\"Buscar HTML da Fonte\"].json.url;\nconst nomeFonte = $node[\"Ler Fontes de Busca\"].json.nome_fonte;\n\nconst vagasEncontradas = [];\nconst pattern = /jovem\\s*aprendiz|aprendiz/gi;\n\nif (pattern.test(html) || true) { // Simulação aceita tudo para fins de teste local rápido\n  vagasEncontradas.push({\n    titulo: \"Jovem Aprendiz Administrativo \" + (new Date().getSeconds()),\n    empresa: \"Empresa Exemplo Local\",\n    localidade: \"São Paulo/SP\", // Foco em São Paulo para teste regional\n    descricao: \"Atuar no suporte operacional do escritório, controle de malotes, digitalização e lançamentos.\",\n    url: urlOrigem + \"/vaga-local-\" + Date.now(),\n    origem: nomeFonte,\n    data_publicacao: new Date().toISOString().split('T')[0]\n  });\n}\n\nreturn vagasEncontradas.map(v => {\n  // Gerador de MD5 compatível com Node\n  const crypto = require('crypto');\n  const id = crypto.createHash('md5').update(v.url).digest('hex');\n  return {\n    id,\n    ...v,\n    status: \"PENDENTE\",\n    data_descoberta: new Date().toISOString()\n  };\n});"
      },
      "id": "b5e82b7b-23ac-410a-bf41-1be4aa85871f",
      "name": "Parser de Vagas e Filtro Relevância",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id FROM vagas WHERE id = '{{ $json.id }}';"
      },
      "id": "postgres-check-vaga-exists",
      "name": "Verificar Duplicado na Triagem",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [1050, 300],
      "credentials": {
        "database": {
          "id": "supabase-postgres-credentials"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "type": "mix"
          },
          "conditions": [
            {
              "id": "check-empty",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c165aa21-0a6e-4775-9de8-16cb60fa236d",
      "name": "Vaga É Nova?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO vagas (id, titulo, empresa, localidade, descricao, url, origem, status, data_publicacao, data_descoberta) VALUES ('{{ $node[\"Parser de Vagas e Filtro Relevância\"].json.id }}', '{{ $node[\"Parser de Vagas e Filtro Relevância\"].json.titulo }}', '{{ $node[\"Parser de Vagas e Filtro Relevância\"].json.empresa }}', '{{ $node[\"Parser de Vagas e Filtro Relevância\"].json.localidade }}', '{{ $node[\"Parser de Vagas e Filtro Relevância\"].json.descricao }}', '{{ $node[\"Parser de Vagas e Filtro Relevância\"].json.url }}', '{{ $node[\"Parser de Vagas e Filtro Relevância\"].json.origem }}', 'PENDENTE', '{{ $node[\"Parser de Vagas e Filtro Relevância\"].json.data_publicacao }}', NOW());"
      },
      "id": "postgres-insert-vaga",
      "name": "Inserir Vaga Pendente",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [1450, 200],
      "credentials": {
        "database": {
          "id": "supabase-postgres-credentials"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Ler Fontes de Busca",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ler Fontes de Busca": {
      "main": [
        [
          {
            "node": "Buscar HTML da Fonte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar HTML da Fonte": {
      "main": [
        [
          {
            "node": "Parser de Vagas e Filtro Relevância",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parser de Vagas e Filtro Relevância": {
      "main": [
        [
          {
            "node": "Verificar Duplicado na Triagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Duplicado na Triagem": {
      "main": [
        [
          {
            "node": "Vaga É Nova?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vaga É Nova?": {
      "main": [
        [
          {
            "node": "Inserir Vaga Pendente",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {},
  "active": true
}
