data/n8n_scraper_workflow.json
{
  "name": "JAB - Scraper de Vagas Jovem Aprendiz",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "timeOfDay": "06:00"
            }
          ]
        }
      },
      "id": "e0e271cf-e1cf-49b0-9f1e-f3b18d2b270a",
      "name": "Schedule_Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM fontes_busca WHERE ativa = true;"
      },
      "id": "postgres-get-fontes",
      "name": "Ler_Fontes_de_Busca",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [
        450,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "iAAWD2FoMGyNTpQE"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "batchSize": 1,
          "batchInterval": 30000
        }
      },
      "id": "b3e34b9d-486d-40be-ba39-813c01be4300",
      "name": "Buscar_HTML_da_Fonte",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const html = $json.data;\nconst urlOrigem = $node[\"Ler_Fontes_de_Busca\"].json.url;\nconst nomeFonte = $node[\"Ler_Fontes_de_Busca\"].json.nome_fonte;\n\nif (!html) return [];\n\nconst match = html.match(/<script id=\"__NEXT_DATA__\" type=\"application\\/json\">([\\s\\S]*?)<\\/script>/);\nif (!match) return [];\n\ntry {\n  const data = JSON.parse(match[1]);\n  const jobs = data.props.pageProps.jobs || [];\n  const pattern = /aprendiz/i;\n  const filteredJobs = jobs.filter(j => pattern.test(j.title));\n  \n  return filteredJobs.map(v => {\n    const jobUrl = `${urlOrigem.replace(/\\/$/, '')}/jobs/${v.id}`;\n    const seed = jobUrl;\n    let hash = 0;\n    for (let i = 0; i < seed.length; i++) {\n      const char = seed.charCodeAt(i);\n      hash = ((hash << 5) - hash) + char;\n      hash = hash & hash;\n    }\n    const id = 'vaga_scr_' + Math.abs(hash).toString(36) + '_' + seed.length.toString(36);\n    \n    let localidade = 'Remoto';\n    if (v.workplace && v.workplace.address) {\n      const addr = v.workplace.address;\n      localidade = `${addr.city || ''} - ${addr.stateShortName || ''}`.replace(/^ - | - $/g, '');\n    }\n    \n    return {\n      id,\n      titulo: v.title,\n      empresa: nomeFonte,\n      localidade: localidade || 'Não especificado',\n      descricao: `Vaga de Jovem Aprendiz no departamento ${v.department || 'Geral'}. Tipo: ${v.type || 'Aprendizado'}. Candidate-se no link original.`,\n      url: jobUrl,\n      origem: nomeFonte,\n      data_publicacao: new Date().toISOString().split('T')[0],\n      status: \"PENDENTE\",\n      data_descoberta: new Date().toISOString()\n    };\n  });\n} catch (e) {\n  return [];\n}"
      },
      "id": "b5e82b7b-23ac-410a-bf41-1be4aa85871f",
      "name": "Parser_de_Vagas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        850,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT EXISTS(SELECT 1 FROM vagas WHERE id = '{{ $json.id }}') AS vaga_existe;"
      },
      "id": "postgres-check-vaga-exists",
      "name": "Verificar_Duplicado",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [
        1050,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "iAAWD2FoMGyNTpQE"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst parserItems = $items('Parser_de_Vagas');\nconst result = [];\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i];\n  if (item.json.vaga_existe === false || item.json.vaga_existe === 'false') {\n    const parserData = parserItems[i] ? parserItems[i].json : item.json;\n    result.push({ json: { ...parserData, vaga_nova: true } });\n  }\n}\nreturn result;"
      },
      "id": "c165aa21-0a6e-4775-9de8-16cb60fa236d",
      "name": "Vaga_E_Nova",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1250,
        300
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "loop-vagas-items",
      "name": "Loop_Vagas",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1450,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "id": "http-request-job-details",
      "name": "Buscar_Detalhes_da_Vaga",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1650,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const html = $input.first().json.data;\nconst orig = $node['Loop_Vagas'].json;\n\nlet cleanDesc = orig.descricao || '';\n\nif (html) {\n  const match = html.match(/<script id=\"__NEXT_DATA__\" type=\"application\\/json\">([\\s\\S]*?)<\\/script>/);\n  if (match) {\n    try {\n      const parsed = JSON.parse(match[1]);\n      const job = parsed.props.pageProps.job;\n      if (job) {\n        let descParts = [];\n        if (job.description && job.description.trim() !== '<p><br></p>') {\n          descParts.push(`<h3>Sobre a vaga / Empresa:</h3>${job.description}`);\n        }\n        if (job.responsibilities && job.responsibilities.trim() !== '<p><br></p>') {\n          descParts.push(`<h3>Responsabilidades e atribuições:</h3>${job.responsibilities}`);\n        }\n        if (job.prerequisites && job.prerequisites.trim() !== '<p><br></p>') {\n          descParts.push(`<h3>Requisitos e qualificações:</h3>${job.prerequisites}`);\n        }\n        if (job.relevantExperiences && job.relevantExperiences.trim() !== '<p><br></p>') {\n          descParts.push(`<h3>Informações adicionais / Benefícios:</h3>${job.relevantExperiences}`);\n        }\n        \n        if (descParts.length > 0) {\n          cleanDesc = descParts.join('\\n');\n        }\n      }\n    } catch (e) {\n      // Fallback\n    }\n  }\n}\n\nreturn {\n  json: {\n    ...orig,\n    descricao: cleanDesc\n  }\n};"
      },
      "id": "code-parser-job-details",
      "name": "Parser_Detalhes_da_Vaga",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1850,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO vagas (id, titulo, empresa, localidade, descricao, url, origem, status, data_publicacao, data_descoberta) VALUES ('{{ $json.id }}', '{{ $json.titulo }}', '{{ $json.empresa }}', '{{ $json.localidade }}', '{{ $json.descricao }}', '{{ $json.url }}', '{{ $json.origem }}', 'PENDENTE', '{{ $json.data_publicacao }}', NOW());"
      },
      "id": "postgres-insert-vaga",
      "name": "Inserir_Vaga_Pendente",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [
        2050,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "iAAWD2FoMGyNTpQE"
        }
      }
    },
    {
      "parameters": {
        "resume": "timeInterval",
        "amount": 30,
        "unit": "seconds"
      },
      "id": "wait-30-seconds",
      "name": "Aguardar_30s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2250,
        300
      ]
    }
  ],
  "connections": {
    "Schedule_Trigger": {
      "main": [
        [
          {
            "node": "Ler_Fontes_de_Busca",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ler_Fontes_de_Busca": {
      "main": [
        [
          {
            "node": "Buscar_HTML_da_Fonte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar_HTML_da_Fonte": {
      "main": [
        [
          {
            "node": "Parser_de_Vagas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parser_de_Vagas": {
      "main": [
        [
          {
            "node": "Verificar_Duplicado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar_Duplicado": {
      "main": [
        [
          {
            "node": "Vaga_E_Nova",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vaga_E_Nova": {
      "main": [
        [
          {
            "node": "Loop_Vagas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop_Vagas": {
      "main": [
        [],
        [
          {
            "node": "Buscar_Detalhes_da_Vaga",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar_Detalhes_da_Vaga": {
      "main": [
        [
          {
            "node": "Parser_Detalhes_da_Vaga",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parser_Detalhes_da_Vaga": {
      "main": [
        [
          {
            "node": "Inserir_Vaga_Pendente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inserir_Vaga_Pendente": {
      "main": [
        [
          {
            "node": "Aguardar_30s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aguardar_30s": {
      "main": [
        [
          {
            "node": "Loop_Vagas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "active": true
}